.a_bg_dark {
  background: #313035;
}
.a_bg_redlite {
  background: #ec5e71;
}
.a_bg_darklite {
  background: #404043;
}
.a_opacity {
  opacity: 0.5;
}
.a_opacity:hover {
  opacity: 1;
}
.a_bg_dark_medium {
  background: #333338;
}
.a_darklight {
  color: #a5a5a5;
}
.a_darklight2 {
  color: #888787;
}
.a_span span {
  padding-right: 10px;
}
.a_logo_border {
  border-top: 1px solid #868686;
  width: 96%;
  margin: auto;
  padding: 10px 0px;
}
.a_whitelogo {
  top: -100% !important;
}
footer .a_icons {
  width: 40px;
  height: 40px;
  background: #868686;
  color: #333338;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70%;
  font-size: 16px;
  cursor: pointer;
}
footer .a_icons:hover {
    background: #fff;
}

.a_copyright {
  color: #666666;
  width: 92%;
  margin: auto;
  padding: 15px 0px;
}
.b_copyright p {
    margin: 0;
}
.a_darklight2 span:hover{
  color: white;
}