.a_app_modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #80808061;
  z-index: 10000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a_app_modal .a_modal_content_box {
  position: relative;
  animation: modalAnimation 0.25s;
}
@keyframes modalAnimation {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
.a_app_modal .a_close_btn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  opacity: 0.8;
}
